<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gravity Simulation - Barnes-Hut</title>
    <link rel = "Stylesheet" href = "css/main.css" />
    <script type = "text/javascript" 
    src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
    <script type = "text/javascript" src = "js/Simulation.js"></script>
    <script type = "text/javascript" src="js/Render.js"></script>
    <script type = "text/javascript" src="js/Controller.js" ></script>
</head>
<body ng-app = "gravity" ng-controller="information"
    ng-init="color.select=Red"
>
    <div id="wrapper" >
        <div id = "gravity-control-wrapper">
            <div id = "gravity-control-label">
                <span id="text-label">Mass </label>
                <span id="mass-label">{{mass}}</span>
            </div>
            <div id="gravity-control-view">
                <div id="gravity-control-inner-view"></div>
            </div>
            <div id="gravity-particle-wrapper">
                <span id="particle-label">Particle </span>
                <span id="particle-number">{{particleNumber}}</span>
            </div>
        </div>
        <div id="view-wrapper">
            <canvas id="particle-view"></canvas>
            <canvas id="tree-view"></canvas>
            <canvas id="track-view"></canvas>
            <canvas id="magnitude-view"
            ng-mousedown="setStart($event)"
            ng-mouseup="setEnd($event)"          
            ng-mousemove="setPoint($event)"></canvas>
        </div>
        <div id="gravity-information-wrapper">
            <div id="information-position">
                coord:
                (<span id= "x-value">{{x >=0 ? x : "∅"}}</span>, 
                <span id="y-value">{{y>=0 ? y : "∅"}}</span>)</div>
            <div id="information-mag">| mag: 
                <span id="mag-value">{{mag || 0}}</span>
            </div>
            <div id="information-angle">| theta: {{theta >= 0 ? theta : "∅"}}</div>
        </div>
        <div id="gravity-options-wrapper">
            <div id="track-path">
                <span id="track-option-label">Track Path </span>
                <input ng-true-value="true" ng-false-value="false"
                ng-change="setTrackOption()"
                ng-model="trackPath"
                type="checkbox" id = "option" />
            </div>
            <div id="particle-colour">
                <span id="color-option-label">Color </span>
                <select id="color-option-select" 
                    ng-init="color=options[0]"
                    ng-options="option.name for option in options"
                    ng-model="color" ng-change="setSelect()">
                </select>
            </div>
        </div>
    </div>
</body>
</html>